---
export interface Props {
  number: number
  text: string
  listItemClass?: string
  numberClass?: string
}

const { number, text, numberClass, listItemClass } = Astro.props
---

<li class={`list-row items-center lsa lsa-slide-up no-repeat py-2 ${listItemClass}`}>
  <span class={`text-3xl sm:text-4xl opacity-40 w-8 sm:w-10 ${numberClass}`}>{number}</span>{text}
</li>
