---
export interface Props {
  number: number
  text: string
}

const { number, text } = Astro.props
---

<li class="list-row items-center lsa lsa-slide-up no-repeat">
  <div class="text-4xl font-thin opacity-30">{number}</div>
  {text}
</li>
