---
export interface Props {
  number: number
  text: string
}

const { number, text } = Astro.props
---

<li class="list-row items-center lsa lsa-slide-up no-repeat py-2">
  <div class="text-4xl opacity-30">{number}</div>
  {text}
</li>
