---
export interface Props {
  class?: string
}

const { class: className = 'text-primary' } = Astro.props
---

<h1 class={`text-4xl md:text-5xl lg:text-6xl max-w-4xl lsa lsa-slide-up no-repeat ${className}`}>
  <slot />
</h1>
