---
import PageHeader from '../../components/ui/PageHeader.astro'
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Blog">
  <PageHeader>
    <h1 class="mb-(--site-padding-base) text-primary">Blog</h1>
  </PageHeader>
</Layout>
