---
import PageHeader from '../../components/ui/PageHeader.astro'
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Manual Lymphatic Drainage">
  <PageHeader>
    <h1 class="mb-4 text-primary">Manual Lymphatic Drainage</h1>
  </PageHeader>
</Layout>
