---
import ListItem from '../../components/text/ListItem.astro'
import PageTitle from '../../components/text/PageTitle.astro'
import Card from '../../components/ui/Card.astro'
import PageHeader from '../../components/ui/PageHeader.astro'
import ThemedSection from '../../components/ui/ThemedSection.astro'
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Pre/Post-Surgical Manual Lymphatic Drainage">
  <PageHeader>
    <PageTitle class="text-primary">Pre/Post-Surgical Manual Lymphatic Drainage</PageTitle>
    <div class="prose">
      <p class="h3 lsa lsa-slide-up delay-100 no-repeat">
        <a href="/blog/post-surgical-manual-lymphatic-drainage" class="link link-accent"
          >Post-surgical manual lymphatic drainage</a
        > helps clear out excess lymph fluid caused by surgical trauma, which assists in faster healing,
        decreased risk of infection, pain reduction, and subsequently better outcomes.
      </p>
      <p class="lsa lsa-slide-up delay-200 no-repeat">
        Scar tissue work is also performed when appropriate to help reduce and prevent adhesions
        after surgery and to increase mobility of scar tissue, which will help with the overall
        appearance of the surgical site and surrounding areas, increase lymphatic flow, and help
        reduce future scar adhesion complications
      </p>
      <div class="mx-auto lsa lsa-slide-up delay-300 no-repeat">
        <a
          href="https://booksy.com/en-us/689566_madison-lymphatics-and-bodywork_massage_39663_madison"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-primary"
        >
          Book Now
        </a>
      </div>
    </div>
  </PageHeader>

  <main>
    <section
      id="what-is-pre-post-surgical-manual-lymphatic-drainage"
      class="mb-(--site-padding-2xl)"
    >
      <div
        class="wrapper container lg:max-w-screen-2xl grid grid-cols-1 lg:grid-cols-2 gap-(--site-padding-lg) mx-auto"
      >
        <h2 class="h1 text-primary lsa lsa-slide-up no-repeat">
          What Is Pre/Post-Surgical Manual Lymphatic Drainage?
        </h2>
        <div class="prose">
          <p class="lsa lsa-slide-up no-repeat">
            Pre/Post-surgical Manual Lymphatic Drainage is a gentle yet powerful form of bodywork
            that is intended to help with the excess inflammation caused by the acute trauma of
            surgery. MLD stimulates and encourages the natural movement of the lymph, which carries
            waste products away from the tissues back towards the heart. It is a technique based on
            gentle, rhythmic, and constant movements that mimic the rhythm of the body's lymphatic
            system. During a post-surgical manual lymphatic drainage session, the therapist gently
            massages the lymph nodes and then guides post-surgical edema towards those correlating
            lymph nodes. When indicated, scar tissue work is also performed during these sessions to
            help remodel the scar tissue created during the surgical procedure to allow for better
            lymph flow, more appealing aesthetic results, and to prevent scar tissue adhesions that
            could develop in the future.
          </p>
          <p class="h4 lsa lsa-slide-up no-repeat">
            MLD is NOT opening up incision wounds to push edema out of the body.
          </p>
        </div>
      </div>
    </section>

    <ThemedSection id="why-choose-pre-post-surgical-manual-lymphatic-drainage" class="bg-primary/5">
      <div
        class="wrapper container lg:max-w-screen-2xl grid grid-cols-1 lg:grid-cols-2 gap-(--site-padding-lg) mx-auto"
      >
        <h2 class="h1 lsa lsa-slide-up no-repeat">
          Why choose pre/post-surgical Manual Lymphatic Drainage?
        </h2>
        <div class="prose z-10">
          <p class="lsa lsa-slide-up no-repeat">
            Oftentimes, after surgery, the body will swell with excessive edema both at and
            surrounding the surgical site. This post-operative swelling, while completely normal,
            can be quite uncomfortable and significant. Sluggishness, decreased range of motion,
            increased sensitivity and pain, inability to sleep comfortably, and an overall feeling
            of puffiness will most likely occur during the post-surgical recovery process.
          </p>
          <p class="lsa lsa-slide-up no-repeat">
            Reducing post-surgical swelling is one of the most common ways that Manual Lymphatic
            Drainage is used. Because of its ability to directly move excessive post-surgical edema
            while using the most gentle of touch, Manual Lymphatic Drainage is frequently regarded
            as an imperative part of the surgical recovery process by surgeons worldwide. Clearing
            out excess swelling helps improve circulation, which in turn helps to reduce the risk of
            infection and accelerates healing time.
          </p>
          <p class="h4 lsa lsa-slide-up no-repeat">
            Below is a study done by the NIH (National Institutes of Health) showing the benefits of
            post-liposuction MLD.
          </p>
          <a
            href="https://pmc.ncbi.nlm.nih.gov/articles/PMC4075221/"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-dash">See The Study</a
          >
        </div>
      </div>
    </ThemedSection>

    <section id="surgical-procedures-we-treat">
      <div class="wrapper container flex flex-col gap-(--site-padding-md) mx-auto">
        <h2 class="h1 text-accent text-center lsa lsa-slide-up no-repeat">
          Surgical Procedures We Treat
        </h2>
        <p class="h4 text-center mx-auto lsa lsa-slide-up no-repeat">
          For the last seven years, Courtney Rolnick, PT, DPT, CMLDT, has been providing
          post-operative manual lymphatic drainage to clients recovering from a wide range of
          surgeries, including:
        </p>

        <ul
          class="grid grid-cols-1 md:grid-cols-2 gap-(--site-padding-base) w-full max-w-4xl mx-auto"
        >
          <div class="list">
            <ListItem number={1} text="DIEP flap reconstruction" />
            <ListItem number={2} text="Mastectomy/Breast Reconstruction" />
            <ListItem number={3} text="Brazilian Butt Lift (BBL)" />
            <ListItem number={4} text="Tummy Tuck/Abdominoplasty" />
            <ListItem number={5} text="Liposuction" />
            <ListItem number={6} text="Fat Transfer" />
            <ListItem number={7} text="Arm/Leg Lift" />
            <ListItem number={8} text="Facelift" />

            <!-- Mobile only -->
            <ListItem number={9} listItemClass="md:hidden" text="Breast Implant" />
            <ListItem number={10} listItemClass="md:hidden" text="Chin Liposuction" />
            <ListItem number={11} listItemClass="md:hidden" text="Labiaplasty" />
            <ListItem number={12} listItemClass="md:hidden" text="Monsplasty" />
            <ListItem number={13} listItemClass="md:hidden" text="Rhinoplasty" />
            <ListItem number={14} listItemClass="md:hidden" text="Orthopedic procedures" />
            <ListItem number={15} listItemClass="md:hidden" text="Gender Affirming Surgery" />
          </div>

          <!-- Desktop only -->
          <div class="list hidden md:block">
            <ListItem number={9} text="Breast Implant" />
            <ListItem number={10} text="Chin Liposuction" />
            <ListItem number={11} text="Labiaplasty" />
            <ListItem number={12} text="Monsplasty" />
            <ListItem number={13} text="Rhinoplasty" />
            <ListItem number={14} text="Orthopedic procedures" />
            <ListItem number={15} text="Gender Affirming Surgery" />
          </div>
        </ul>
      </div>
    </section>

    <ThemedSection
      id="do-you-have-tissue-fibrosis-or-lumps-and-bumps-after-surgery"
      class="bg-accent/5"
    >
      <div
        class="wrapper container lg:max-w-screen-2xl grid grid-cols-1 lg:grid-cols-2 gap-(--site-padding-lg) mx-auto"
      >
        <h2 class="h1 lsa lsa-slide-up no-repeat">
          Do you have tissue fibrosis or lumps and bumps after surgery?
        </h2>
        <div class="prose">
          <p class="h4 lsa lsa-slide-up no-repeat">
            Fibrotic swelling refers to swelling caused by fibrosis, which is the thickening and
            scarring of connective tissue.
          </p>
          <p class="lsa lsa-slide-up no-repeat">
            Fibrotic swelling refers to swelling caused by fibrosis, which is the thickening and
            scarring of connective tissue. Fibrosis is an abnormal healing response where the body
            lays down excessive scar tissue in response to injury or inflammation.
          </p>
          <p class="lsa lsa-slide-up no-repeat">
            Through various techniques, fibrosis can be treated, causing any lumps and bumps that
            may have settled during the recovery process to smooth out. Myofascial decompression
            with scar tissue work allows for scarring and edema build-up to be gently reduced,
            allowing the patient to feel more comfortable and confident in their new body.
          </p>
        </div>
      </div>
    </ThemedSection>

    <section id="pre-post-surgical-manual-lymphatic-drainage-pricing">
      <div
        class="wrapper container lg:max-w-screen-xl flex flex-col items-center gap-(--site-padding-md) mx-auto"
      >
        <h2 class="h1 text-primary lsa lsa-slide-up no-repeat">Pricing</h2>

        <!-- 60 Minutes -->
        <div class="lsa lsa-slide-up no-repeat flex">
          <Card
            id="60-minute-session"
            className="text-center shadow-lg scale-[1.02] border border-base-200 hover:border-primary max-w-lg mx-auto"
          >
            <div class="flex flex-col items-center gap-(--site-padding-base)">
              <h3>60 Minutes</h3>
              <span class="h2 text-primary">$140</span>
              <p class="h4 font-semibold">Post-Surgical Manual Lymphatic Drainage Session</p>
            </div>
            <div>
              <p>Indications include:</p>
              <p class="text-base-content/80">
                For those within 6 months of cosmetic or orthopedic surgical procedure
              </p>
            </div>
            <a
              href="https://booksy.com/en-us/689566_madison-lymphatics-and-bodywork_massage_39663_madison"
              target="_blank"
              rel="noopener noreferrer"
              class="btn btn-primary w-full"
            >
              Book Now
            </a>
          </Card>
        </div>
      </div>
    </section>

    <!-- CTA Section -->
    <ThemedSection
      id="pre-post-surgical-manual-lymphatic-drainage-cta"
      class="border-t-1 border-b-1 border-base-200 bg-radial-[at_20%_25%] from-primary/15 to-accent/15 to-95%"
    >
      <div class="wrapper container lg:max-w-screen-xl mx-auto">
        <div
          class="flex flex-col items-center gap-(--site-padding-md) max-w-4xl mx-auto text-center"
        >
          <h2 class="max-w-2xl lsa lsa-slide-up no-repeat">
            To schedule a Pre/Post-Surgical Manual Lymphatic Drainage session:
          </h2>

          <div class="flex flex-wrap gap-2 justify-center">
            <div class="lsa lsa-slide-up no-repeat">
              <a
                href="https://booksy.com/en-us/689566_madison-lymphatics-and-bodywork_massage_39663_madison"
                target="_blank"
                rel="noopener noreferrer"
                class="btn btn-primary"
              >
                Book Now
              </a>
            </div>
            <div class="lsa lsa-slide-up no-repeat">
              <a href="tel:(608) 358-2082" class="btn btn-dash"> Call (608) 358-2082 </a>
            </div>
          </div>
        </div>
      </div>
    </ThemedSection>
  </main>
</Layout>
