---
import PageHeader from '../../components/ui/PageHeader.astro'
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Therapeutic Bodywork">
  <PageHeader>
    <h1 class="mb-4 text-primary">Therapeutic Bodywork</h1>
  </PageHeader>
</Layout>
