@import 'tailwindcss';
@plugin "daisyui" {
  themes: emerald;
}

@theme {
  --site-padding-base: clamp(1rem, 2vw, 2rem);
  --site-padding-md: clamp(2rem, 3vw, 3rem);
  --site-padding-lg: clamp(3rem, 4vw, 4rem);

  --font-nuckle-hairline: var(--font-nuckle-hairline);
  --font-nuckle-extralight: var(--font-nuckle-extralight);
  --font-nuckle-light: var(--font-nuckle-light);
  --font-nuckle-regular: var(--font-nuckle-regular);
  --font-nuckle-medium: var(--font-nuckle-medium);
  --font-nuckle-semibold: var(--font-nuckle-semibold);
  --font-nuckle-bold: var(--font-nuckle-bold);
}

@layer base {
  @view-transition {
    navigation: auto;
  }

  body {
    @apply bg-base-100 font-nuckle-regular;
  }

  main,
  footer {
    @apply px-(--site-padding-base) py-(--site-padding-lg);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  a {
    @apply text-balance font-nuckle-semibold;
  }

  h1 {
    @apply text-4xl sm:text-5xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  h3 {
    @apply text-2xl sm:text-3xl;
  }

  h4 {
    @apply text-xl sm:text-2xl;
  }

  h5 {
    @apply text-lg sm:text-xl;
  }

  h6 {
    @apply text-base sm:text-lg;
  }

  p,
  li:not(nav li) {
    @apply text-base sm:text-lg text-pretty;
  }
}
