---
import PageHeader from '../components/ui/PageHeader.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Careers">
  <PageHeader>
    <h1 class="mb-4 text-primary">Careers</h1>
  </PageHeader>
</Layout>
