---
import PageHeader from '../components/ui/PageHeader.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Intake Form">
  <PageHeader>
    <h1 class="mb-4 text-primary">Intake Form</h1>
  </PageHeader>
</Layout>
