---
import PageHeader from '../components/ui/PageHeader.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Join Our Team">
  <PageHeader>
    <h1 class="mb-(--site-padding-base) text-primary">Join Our Team</h1>
  </PageHeader>
</Layout>
