---
import PageTitle from '../components/text/PageTitle.astro'
import Card from '../components/ui/Card.astro'
import PageHeader from '../components/ui/PageHeader.astro'
import ThemedSection from '../components/ui/ThemedSection.astro'
import { SITE_TITLE } from '../consts'
import Layout from '../layouts/Layout.astro'
---

<Layout
  title={`Pricing | ${SITE_TITLE}`}
  description="Transparent pricing for our lymphatic drainage services."
>
  <PageHeader class="items-center mx-auto text-center">
    <PageTitle>Pricing</PageTitle>
    <p class="h4 lsa lsa-slide-up delay-100 no-repeat">
      We offer a variety of services to help you achieve your health and wellness goals.
    </p>
  </PageHeader>

  <main>
    <section id="manual-lymphatic-drainage" class="wrapper container max-w-xl mx-auto">
      <h2 class="h1 mb-(--site-padding-md) text-center text-primary lsa lsa-slide-up no-repeat">
        Manual Lymphatic Drainage
      </h2>

      <!-- 60 Minutes -->
      <div class="lsa lsa-slide-up no-repeat flex">
        <Card
          id="60-minute-session"
          className="text-center shadow-lg scale-[1.02] border border-base-200 hover:border-primary max-w-lg mx-auto"
        >
          <div class="flex flex-col items-center gap-(--site-padding-base)">
            <h3>60 Minutes</h3>
            <div>
              <p class="h2 text-primary">$120-140</p>
              <span class="text-sm text-base-content/80"><em>* depending on practitioner</em></span>
            </div>
            <p class="h4 font-semibold">
              Full body sequence including neck, chest, abdomen, legs, arms, face
            </p>
          </div>
          <div>
            <p>Indications include:</p>
            <p class="text-base-content/80">
              Lymphedema, Lipedema, Chronic Health Issues, Post-Traumatic Injury Edema,
              post-surgical edema from DIEP flap reconstruction, mastectomy, lumpectomy,
              gender-affirming surgery, and any other surgeries that are cancer-related.
            </p>
          </div>
          <div class="card-actions justify-center mt-auto">
            <a
              href="https://booksy.com/en-us/1554807_lymphatic-specialists-of-madison_massage_39663_madison#ba_s=sh_1"
              target="_blank"
              rel="noopener noreferrer"
              class="btn btn-primary w-full"
            >
              Book Now
            </a>
          </div>
        </Card>
      </div>
    </section>

    <ThemedSection
      id="pre-post-surgical-manual-lymphatic-drainage"
      class="mb-(--site-padding-2xl) bg-accent/5"
    >
      <div class="wrapper container max-w-xl mx-auto">
        <h2
          class="h1 max-w-2xl mx-auto mb-(--site-padding-md) text-center lsa lsa-slide-up no-repeat"
        >
          Pre/Post-Surgical Manual Lymphatic Drainage
        </h2>

        <!-- 60 Minutes -->
        <div class="lsa lsa-slide-up no-repeat flex">
          <Card
            id="60-minute-session"
            className="text-center shadow-lg scale-[1.02] border border-base-200 hover:border-accent max-w-lg mx-auto"
          >
            <div class="flex flex-col items-center gap-(--site-padding-base)">
              <h3>60 Minutes</h3>
              <div>
                <p class="h2 text-accent">$130-150</p>
                <span class="text-sm text-base-content/80"
                  ><em>* depending on practitioner</em></span
                >
              </div>
              <p class="h4 font-semibold">For patients within 6 months of surgical proceedure.</p>
            </div>
            <div>
              <p>Indications include:</p>
              <p class="text-base-content/80">
                For post-surgical care after mastectomy, abdominoplasty, liposuction, facelift,
                gender affirming surgery, lymph node removal, or orthopedic surgeries.
              </p>
            </div>
            <div class="card-actions justify-center mt-auto">
              <a
                href="https://booksy.com/en-us/1554807_lymphatic-specialists-of-madison_massage_39663_madison#ba_s=sh_1"
                class="btn btn-accent w-full"
              >
                Book Now
              </a>
              <a
                href="/services/pre-post-surgical-manual-lymphatic-drainage"
                class="btn btn-dash w-full"
              >
                More Info
              </a>
            </div>
          </Card>
        </div>
      </div>
    </ThemedSection>
  </main>
</Layout>
