---
import PageHeader from '../components/ui/PageHeader.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Privacy Policy">
  <PageHeader>
    <h1 class="mb-(--site-padding-base) text-primary">Privacy Policy</h1>
  </PageHeader>
</Layout>
