---
import { Image } from 'astro:assets'

export interface Props {
  id: string
  imageSrc?: any
  imageAlt?: string
  className?: string
  priority?: boolean
  quality?: number
}

const { id, imageSrc, imageAlt, className, priority = false, quality = 85 } = Astro.props
---

<article
  id={id}
  class={`${className} card group w-full bg-base-100/90 hover:bg-base-100 backdrop-blur-lg border border-base-300 hover:border-primary shadow-sm hover:shadow-lg transition-all duration-200 overflow-hidden`}
>
  {
    imageSrc && (
      <Image
        class="w-full h-full max-h-[250px] object-cover filter grayscale-100 group-hover:grayscale-0 max-md:group-[.active]:grayscale-0 transition-all duration-200 rounded-b-none shadow-none"
        src={imageSrc}
        alt={imageAlt ?? ''}
        quality={quality}
        loading={priority ? 'eager' : 'lazy'}
        fetchpriority={priority ? 'high' : 'auto'}
      />
    )
  }
  <div class="card-body gap-(--site-padding-base)">
    <slot />
  </div>
</article>
