---
import { NAVIGATION } from '../../consts'
const today = new Date()
const year = today.getFullYear()
---

<footer class="wrapper flex flex-col gap-10">
  <div class="footer sm:footer-horizontal">
    <nav>
      <h6 class="footer-title">Services</h6>
      {
        NAVIGATION.map((link) => {
          if (link.label === 'Services' && link.children) {
            return link.children.map((child) => (
              <a href={child.href} class="link link-hover">
                {child.label}
              </a>
            ))
          }
        })
      }
    </nav>
    <nav>
      <h6 class="footer-title">Company</h6>
      <a href="/careers" class="link link-hover">Careers</a>
      <a href="/faq" class="link link-hover">FAQ</a>
      <a href="/contact" class="link link-hover">Contact Us</a>
    </nav>
    <nav>
      <h6 class="footer-title">Legal</h6>
      <a href="/terms-of-use" class="link link-hover">Terms of use</a>
      <a href="/privacy-policy" class="link link-hover">Privacy policy</a>
      <a href="/cookie-policy" class="link link-hover">Cookie policy</a>
    </nav>
  </div>
  <div class="border-primary/5 border-t py-4 flex flex-wrap justify-between gap-2">
    <p>
      &copy; {year} Lymphatic Specialists of Madison
    </p>
    <p>
      Website by <a
        href="https://wave-land-web.com"
        target="_blank"
        rel="noopener noreferrer"
        class="link link-primary inline-flex items-center gap-1"
        >Wave Land Web
        <svg width="1em" height="1em" class="w-5 h-5" data-icon="tabler:arrow-up-right">
          <symbol id="ai:tabler:arrow-up-right" viewBox="0 0 24 24"
            ><path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 7L7 17M8 7h9v9"></path></symbol
          ><use href="#ai:tabler:arrow-up-right"></use>
        </svg>
      </a>
    </p>
  </div>
</footer>
