<div class="wrapper text-center prose lg:prose-xl">
  <h2 class="lsa lsa-slide-up no-repeat">Ready to Get Started?</h2>
  <p class="max-w-xl mx-auto lsa lsa-slide-up delay-100 no-repeat">
    Contact us to schedule your session or complete our intake form to receive care tailored to your
    needs.
  </p>

  <!-- Primary and Secondary CTAs -->
  <div
    class="flex flex-wrap gap-2 justify-center items-center lsa lsa-slide-up delay-300 no-repeat"
  >
    <a href="/contact" class="btn btn-accent">
      <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"
        ></path>
      </svg>
      Contact Us
    </a>
    <a href="/intake-form" class="btn btn-dash text-base-content">
      <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
        ></path>
      </svg>
      Intake Form
    </a>
  </div>
</div>
