---
import type { SanityAsset } from '@sanity/image-url/lib/types/types'
import { getImage } from 'astro:assets'
import { urlForImage } from '../../sanity/lib/urlForImage'

export interface Props {
  class?: string
  customHeroBackgroundImage?: SanityAsset
}

const { class: className, customHeroBackgroundImage } = Astro.props

let heroBackgroundImage

if (customHeroBackgroundImage) {
  // Get the URL for the image
  const url = urlForImage(customHeroBackgroundImage).auto('format').url()
  heroBackgroundImage = await getImage({ src: url, inferSize: true })
}
---

<header
  class:list={[
    'bg-base-100 hero border-b-1 border-base-200 bg-fixed bg-contain bg-center',
    { 'md:bg-fixed': heroBackgroundImage },
  ]}
  style={heroBackgroundImage ? `background-image: url(${heroBackgroundImage.src})` : undefined}
>
  {heroBackgroundImage && <div class="hero-overlay bg-black/50" />}

  <div class="wrapper">
    <div
      class={`${className} flex flex-col gap-(--site-padding-md) pt-[calc(var(--site-padding-lg)+var(--nav-height))] pb-(--site-padding-lg)`}
    >
      <slot />
    </div>
  </div>
</header>
