---
import type { SanityAsset } from '@sanity/image-url/lib/types/types'
import { getImage } from 'astro:assets'
import Hills from '../../assets/images/hills.svg'
import defaultHeroBackgroundImage from '../../assets/images/noisy-background.jpg'
import { urlForImage } from '../../sanity/lib/urlForImage'

export interface Props {
  class?: string
  customHeroBackgroundImage?: SanityAsset
}

const { class: className, customHeroBackgroundImage } = Astro.props

let heroBackgroundImage

if (customHeroBackgroundImage) {
  // Get the URL for the image
  const url = urlForImage(customHeroBackgroundImage).auto('format').url()
  heroBackgroundImage = await getImage({ src: url, inferSize: true })
} else {
  // Use the default hero background image
  heroBackgroundImage = defaultHeroBackgroundImage
}
---

<header class="relative overflow-hidden bg-base-100 hero border-b-1 border-base-200">
  {
    customHeroBackgroundImage ? (
      <>
        <div class="hero-overlay absolute bg-black/50" />
        <div
          class="hero-overlay md:bg-fixed bg-cover bg-center"
          style={`background-image: url(${heroBackgroundImage.src})`}
        />
      </>
    ) : (
      <>
        <Hills class="absolute bottom-0 left-0 w-full h-auto opacity-15" />
        <div
          class="absolute inset-0 bg-contain bg-center opacity-10"
          style={`background-image: url(${heroBackgroundImage.src})`}
        />
      </>
    )
  }

  <div class="wrapper">
    <div
      class={`${className} flex flex-col gap-(--site-padding-md) pt-[calc(var(--site-padding-lg)+var(--nav-height))] pb-(--site-padding-lg)`}
    >
      <slot />
    </div>
  </div>
</header>
